/*---------KEYFRAMES------------*/

@keyframes descer {
    from {
      transform: translateY(-30px);
    }
    to {
      transform: translateX(0);
    }
}

/*---------------------*/

label{
    font-size: 30px;
    font-weight: 600;
    margin-right: 30px;
    margin-left: 30px;
}


div>select{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

select>option{
    font-size: 30px;
}

div>input{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

div>.row>.col>button{
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    margin-top: 40px;
}

#card{
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px black;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

#card>p{
    padding: 10px;
    font-weight: 600;
}

#card>ul{
    list-style: inside circle;
    margin-bottom: -10px;
}

#resultado{
    display: none;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(92, 189, 72);
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 20px grey;
    animation: descer 1s;
    margin-bottom: -250px;
}

